<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @booth.title %>
</p>

<p>
  <strong>No:</strong>
  <%= @booth.no %>
</p>

<%= link_to 'Edit', edit_booth_path(@booth) %> |
<%= link_to 'Back', booths_path %>
