<%
=begin
%>
<p><%= link_to 'ログイン', new_user_session_path, :method => :get %></p>
<p><%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %></p>
<%
=end
%>

<hr>

<%
=begin
%>
<p><%= link_to 'ユーザー情報編集', edit_user_registration_path %></p>
<%
=end
%>

<hr>

<%= link_to 'AVA_Beaconへ', '/ava_beacon/tracking_realtime/' %>
