/* === bootstrap overwride === */
body {
  background-color: #5E5E5E;
}


.navbar-default {
  background-color: #5E5E5E;
  /*background-color: #8B8B8B;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  font-weight: bold;
}

.navbar>.container .navbar-brand {
 background-color: #fff;
}

.navbar>.container .navbar-brand img {
  width: 70px;
  margin-top: -11px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
/*  color: #777; */
  color: #fff;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}


h1.main-title {
/*  background-color: #fff;
  padding: 10px;*/
}


/* === booth_check === */
div.check-input {
  text-align: right;
}

/* === guard === */
.guard {
  position: absolute;
  width: 100%;
/*  background-color: rgba(255, 255, 255, 0.5); */
  z-index: 50;
  display: none;
}

/* === mobile-uuids === */
#mobile-uuids label {
  margin-right: 15px;
  cursor: pointer;
}

#mobile-uuids input[type=checkbox] {
  display: none;
}

#cond-guard {
  height: 75px;
}

/* === zoom buttons === */
div#zoom-buttons {
  margin-top: 40px;
}
div#zoom-buttons label {
}
label#diagram-zoom-in {
  cursor: pointer;
}
label#diagram-zoom-in-off {
}
label#diagram-zoom-out {
  cursor: pointer;
}

#zoom-guard {
  height: 100px;
}

/* === ava_beacon ===*/
div#diagram-area {
  background-color: #EAEAEA; /*#DEDEDE; #F8F8F8; #E7E7E7;*/
  margin-top: 10px;
}
div#diagram-area .list-group-item {
  background-color: #EAEAEA; /*#DEDEDE; #F8F8F8; #E7E7E7;*/
}

div#diagram-wrapper {
  position: relative;
  width: 660px;
  height: 440px;
  margin: auto;
  /*background-image: url("/assets/honsha.png");*/
}
div.zoom-in {
  background-image: url("/assets/suwa_zoom_in.png");
}
div.zoom-out {
  /*background-image: url("/assets/suwa_zoom_out.png");*/
  background-image: url("/assets/backimage-clip.jpg");
}
svg#diagram {
  width: 660px;
  height: 440px;
}


/* === heatmap === */

/* === slider === */
.slide-buttons {
  display: inline-block;
}
.slide-buttons label {
  display: inline-block;
  width: 35px;
  color: #000;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.slide-buttons label i {
  vertical-align: bottom;
}
#slide-play-repeat input[type=checkbox] {
  display: none;
}

#time-slider {
  width: 550px;
  margin: 20px;
}
#time-slider .slider-selection {
  background: #BABABA;
}

#heatmap_term_slide_ctrl {
  text-align: center;
}

/*
#slider-val-lbl {
  margin-left: 20px;
}
*/


.ctl-align-top {
  margin-top: 32px;
}
