var diagramExpand;

<% if @expand %>
diagramExpand = '<%= @expand %>';
<% else %>
diagramExpand = null;
<% end %>

/*var w = 750;
var h = 500;*/
var w = 660;
var h = 440;
/*var h = 750;*/

var beacon_w = 14;
var beacon_h = 14;

var diagram = d3.select("#diagram");

var initBeacon = function() {

  var drawBeacons = function(beacons) {

console.log('data count ' + beacons.length);

    diagram.selectAll("*").remove();

    diagram.selectAll("rect")
    .data(beacons)
    .enter()
    .append("rect")
    .attr("x", function(d) {
      return (d['x'] - beacon_w/2);
    })
    .attr("y", function(d) {
      return (d['y'] - beacon_h/2);
    })
    .attr("width", beacon_w)
    .attr("height", beacon_h)
    .attr("fill", "rgba(0, 255, 0, 0.5)");
  };

  console.log('beacon_js >> diagramExpand :: ' + diagramExpand);


  $.ajax({
    //url :"http://54.64.20.148/api/beacons/",
    url :"/api/beacons/",
    dataType : "jsonp",
    data : {
      expand : diagramExpand,
    }
  }).done(function(data){
console.log("done");
    drawBeacons(data);
  }).fail(function(data){
console.log("error");
    alert("error");
  }).always(function(data){
    // do nothing
console.log("result");
  });

};

initBeacon(diagramExpand);

