<div id="mobile-uuids">
  <label id="mu01" title="iPod touch 青">
    <%= image_tag 'phone1_on.png', :id => 'phone1_on', :class => 'phone1' %>
    <%= image_tag 'phone1_off.png', :id => 'phone1_off', :class => 'phone1' %>
    <input type="checkbox" name="mobile-uuid" id="mobile-uuid-1" value="<%= ApplicationHelper::MOBILE_UUID_1 %>"> <!--iPod touch 青-->
  </label>
  <label id="mu02" title="iPod touch ピンク">
    <%= image_tag 'phone2_on.png', :id => 'phone2_on', :class => 'phone2' %>
    <%= image_tag 'phone2_off.png', :id => 'phone2_off', :class => 'phone2' %>
    <input type="checkbox" name="mobile-uuid" id="mobile-uuid-2" value="<%= ApplicationHelper::MOBILE_UUID_2 %>"> <!--iPod touch ピンク-->
  </label>
  <label id="mu03" title="iPod touch 黄">
    <%= image_tag 'phone3_on.png', :id => 'phone3_on', :class => 'phone3' %>
    <%= image_tag 'phone3_off.png', :id => 'phone3_off', :class => 'phone3' %>
    <input type="checkbox" name="mobile-uuid" id="mobile-uuid-3" value="<%= ApplicationHelper::MOBILE_UUID_3 %>"> <!--iPod touch 黄-->
  </label>
  <label id="mu04" title="iPhone5">
    <%= image_tag 'phone4_on.png', :id => 'phone4_on', :class => 'phone4' %>
    <%= image_tag 'phone4_off.png', :id => 'phone4_off', :class => 'phone4' %>
    <input type="checkbox" name="mobile-uuid" id="mobile-uuid-4" value="<%= ApplicationHelper::MOBILE_UUID_4 %>"> <!--iPhone5 -->
  </label>
</div><!-- /#mobile_uuids -->

