<div class="slide-buttons">
  <label id="slide-play" title="再生">
    <i class="fa fa-play"></i>
  </label>
  <label id="slide-pause" title="一時停止">
    <i class="fa fa-pause"></i>
  </label>
<!--
  <label id="slide-stop">
    <i class="fa fa-stop"></i>
  </label>
-->
</div> 

