<div id="zoom-buttons" class="text-right">
  <div id="zoom-guard" class="guard">
  </div>
  <label id="diagram-zoom-in" title="拡大図">
    <%= image_tag 'zoom_on.png' %>
  </label>
  <label id="diagram-zoom-in-off" title="拡大図">
    <%= image_tag 'zoom_off.png' %>
  </label>
  <label id="diagram-zoom-out" title="全体図">
    <%= image_tag 'reduct_on.png' %>
  </label>
  <label id="diagram-zoom-out-off" title="全体図">
    <%= image_tag 'reduct_off.png' %>
  </label>
</div><!-- /.zoom-bottons -->

