<% content_for :page_title do %>
  <%= image_tag 'heatmap_real_b.png' %>
<% end %>

<% content_for :cond do %>
  <div class="col-md-4">
    <%= render 'mobile_uuids' %>
  </div>
  <div class="col-md-4">
    <!--2-->
  </div>
  <div class="col-md-4">
    <!--3-->
  </div>
<% end %>

<% content_for :slide_ctrl do %>
  <%= render 'slide_buttons' %>
<% end %>

<!--
<div class="page-header">
  <h1>テスト環境 写真</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <a href="<%= image_url('IMG_0622.JPG') %>" class="gallery" rel="beacon" title="テスト環境 写真">
      <%= image_tag('IMG_0622.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0623.JPG') %>" class="gallery" rel="beacon" rel="pict" title="テスト環境 写真">
      <%= image_tag('IMG_0623.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0624.JPG') %>" class="gallery" rel="beacon" rel="pict" title="テスト環境 写真">
      <%= image_tag('IMG_0624.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0625.JPG') %>" class="gallery" rel="beacon" title="テスト環境 写真">
      <%= image_tag('IMG_0625.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0626.JPG') %>" class="gallery" rel="beacon" title="テスト環境 写真">
      <%= image_tag('IMG_0626.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0627.JPG') %>" class="gallery" rel="beacon" title="テスト環境 写真">
      <%= image_tag('IMG_0627.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0628.JPG') %>" class="gallery" rel="beacon" title="テスト環境 写真">
      <%= image_tag('IMG_0628.JPG', :height => 100) %>
    </a> 
    <a href="<%= image_url('IMG_0629.JPG') %>" class="gallery" rel="beacon"  title="テスト環境 写真">
      <%= image_tag('IMG_0629.JPG', :height => 100) %>
    </a> 
  </div>
</div>
-->

<script>
// ビーコン表示 >>
<%= render 'beacon_js' %>
// << ビーコン表示

// モバイル端末ボタン制御 >>
<%= render 'mobile_uuids_js' %>
// << モバイル端末ボタン制御

// ズームボタン制御 >>
<%= render 'zoom_js' %>
// << ズームボタン制御

var heatmapInstance = h337.create({
                          container: document.querySelector('#diagram-wrapper'),
                          radius: 20,
                          });
//heatmapInstance.setDataMax(75).setDataMin(0);
//setResult([{x:100, y:100, value:1}]);

function clearDiagram() {
    heatmapInstance.setData({data:[]});
};

function setResult(json) {
  console.log('setResult start');
  console.log('data count = ' + json.length);

  var data = {
      max: 10,
      min: 0,
      data: json
  };
  heatmapInstance.setData(data);

  console.log('setResult end');
};


// realtime表示のコア処理 >>
<%= render 'realtime_core_js' %>
// << realtime表示のコア処理

// テスト環境写真
//$('a.gallery').colorbox({width: 700});

</script>

