<% content_for :page_title do %>
  <%= image_tag 'heatmap_data_b.png' %>
<% end %>

<% content_for :cond do %>
  <div class="col-sm-4">
    <%= render 'mobile_uuids' %>
  </div>
  <div class="col-sm-3 ctl-align-top">
    <div class="input-group">
      <input id="term-date" class="form-control">
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="col-sm-3 ctl-align-top">
    <select id="target-hour" class="form-control">
      <option value="00"> 0:00 〜 1:00
      <option value="01"> 1:00 〜 2:00
      <option value="02"> 2:00 〜 3:00
      <option value="03"> 3:00 〜 4:00
      <option value="04"> 4:00 〜 5:00
      <option value="05"> 5:00 〜 6:00
      <option value="06"> 6:00 〜 7:00
      <option value="07"> 7:00 〜 8:00
      <option value="08"> 8:00 〜 9:00
      <option value="09"> 9:00 〜 10:00
      <option value="10"> 10:00 ～ 11:00
      <option value="11"> 11:00 ～ 12:00
      <option value="12"> 12:00 ～ 13:00
      <option value="13"> 13:00 ～ 14:00
      <option value="14"> 14:00 ～ 15:00
      <option value="15"> 15:00 ～ 16:00
      <option value="16"> 16:00 ～ 17:00
      <option value="17"> 17:00 ～ 18:00
      <option value="18"> 18:00 ～ 19:00
      <option value="19"> 19:00 ～ 20:00
      <option value="20"> 20:00 ～ 21:00
      <option value="21"> 21:00 ～ 22:00
      <option value="22"> 22:00 ～ 23:00
      <option value="23"> 23:00 ～ 24:00
    </select>
  </div>
  <div class="col-sm-2 ctl-align-top">
    <button type="button" id="loading-btn" data-loading-text="Loading..." class="btn btn-primary btn-block">Loading</button>
  </div>
<% end %>

<% content_for :slide_ctrl do %>
  <div id="heatmap_term_slide_ctrl">
    <%= render 'slide_buttons' %>
    <input id="hide-slider" data-slider-id='time-slider' type="text" data-slider-min="0" data-slider-max="60" data-slider-step="5" data-slider-value="0"/>

    <!--<span id="slider-val-lbl"><span id="slider-val">0</span> 分</span>-->

    <div class="slide-buttons">
      <label id="slide-play-repeat" title="リピート再生">
        <i id="repeat_on" class="fa fa-spin fa-refresh"></i>
        <i id="repeat_off" class="fa fa-refresh"></i>
        <input type="checkbox" name="repaet" id="repeat" value="repeat">
      </label>
    </div>
    <script>
      $('#repeat_on').hide();
      $('#repeat_off').show();
      
      if ($('#repeat:checked').val()) $('#slide-play-repeat > .fa-refresh').toggle();

      $('#slide-play-repeat > .fa-refresh').click(function(){ $('#slide-play-repeat > .fa-refresh').toggle(); });
    </script>
  </div><!-- /#heatmap_term_slide_ctrl -->
<% end %>


<script>
// ビーコン表示 >>
<%= render 'beacon_js' %>
// << ビーコン表示

// モバイル端末ボタン制御 >>
<%= render 'mobile_uuids_js' %>
// << モバイル端末ボタン制御

// ズームボタン制御 >>
<%= render 'zoom_js' %>
// << ズームボタン制御

var heatmapInstance = h337.create({
                          container: document.querySelector('#diagram-wrapper'),
                          radius: 20,
                          });

function clearDiagram() {
  heatmapInstance.setData({data:[]});
  $('#heatmap_term_slide_ctrl').hide();
};

function setResult(json) {
//  console.log('setResult start');
//  console.log('data count = ' + json.length);

  //heatmapInstance.addData(json);

  var data = {
      max: 10,
      min: 0,
      data: json,
  };
  heatmapInstance.setData(data);

//  console.log('setResult end');
};

var mobileLocations;
var getMobileLocations;
var stopFlag;

$('#loading-btn').click(function () {
  //$('#heatmap_term_slide_ctrl').hide();

  var mobileUuids = [];
  $('[name="mobile-uuid"]:checked').each(function(){
    mobileUuids.push($(this).val());
    });

//  if (mobileUuids.length == 0) {
//    alert('対象機器を選択してください');
//    return;
//  }

  var targetDate = $('#term-date').val();
  if (!targetDate) {
    alert('対象日付を選択してください');
    return;
  }

  var targetHour = $("#target-hour").val();
  if (!targetHour) {
    alert('対象時間を選択してください');
    return;
  }

  var btn = $(this)
  btn.button('loading');

  clearDiagram();

  $.ajax({
        url :"http://192.168.56.101:3000/api/mobile_locations/by_hour/",
        dataType : "jsonp",
        data : {
          //date : '2014-09-24',
          //hour : 17,
          date : targetDate,
          hour : targetHour
//          mobile_uuids : mobileUuids,
//          expand : diagramExpand,
        }
        }).done(function(data){
          if (data.length = 0) {
//          if (data[0]['mobile_uuid'] == null) {
            alert('該当データがありませんでした');
          }
          else {
            $('#heatmap_term_slide_ctrl').show();
            mobileLocations = parsePoints(targetDate, targetHour, data);
            alert('データ読込終了しました');
          }
        }).fail(function(data){
          console.log('error');
          //alert("error");
        }).always(function(data){
          btn.button('reset')
          //clearDiagram();
        });
});

function parsePoints(targetDate, targetHour, datas) {
  var points = [];
  for (var i = 0; i < 3600; i++) {
    points[i] = [];
  } 

  //var baseDate = Date.parse('2014-10-07T09:00:00.000+00:00');
  targetHour = ('00' + targetHour).slice(-2);
  var baseDate = Date.parse(targetDate + 'T' + targetHour + ':00:00.000+00:00');

  for (var i = 0; i < datas.length; i++) {
    var tmp1 = datas[i]['datas'];
    for (var key in tmp1) {
      var tmp2 = tmp1[key];
      for (var j = 0; j < tmp2.length; j++) {
        var point = tmp2[j];
        var tmpDate = Date.parse(point['mobile_t']); 
        var idx = (tmpDate - baseDate) / 1000;
        points[idx].push(point);
      }
    }
  }

  return points;
}

var slideCnt;
var slideStep = 1;
var slideMax = 60;
var dispDatas = [];
var dispMinites = 5;

var playSlider = $('#hide-slider').slider({
    max: slideMax,
    step: slideStep,
    tooltip: 'always',
    formatter: function(value) {
    return value + '分';
    }
}).on('slide', function(ev) {
  //$("#slider-val").text(ev.value);

  var idx = 0; 
  if(ev.value) {
    idx = ev.value
  }

  var end = idx * slideStep * 60;
  var start = end - dispMinites * 60;
  if (start < 0) start = 0; 
  
  var tmp = mobileLocations.slice(start, end);

  var tmp2 = [];
  for (var i = 0; i < tmp.length; i++) {
    var hoge = tmp[i];
    for (var j = 0; j < hoge.length; j++) {
      tmp2.push(hoge[j]);
    }
  }
  
  setResult(tmp2);
});

$('#slide-play').click(function() {
    if (!mobileLocations || mobileLocations.length === 0) {
      alert('表示できるデータがありません');
      return;
    }

    // playボタンを非活性
    $(this).hide();
    $('#slide-pause').show();

    // 各種ボタンも非活性
    guardButtons(true);

    stopFlag = false;

    var fuga = playSlider.slider('getValue');

    getMobileLocations = setInterval(function() {
      if (!stopFlag) {
        playSlider.slider('setValue', fuga * slideStep, true);
        fuga = fuga + 1;
      }

      //終了条件
      if (fuga > slideMax) {
        // リピート再生
        if ($('#repeat:checked').val()) {
          fuga = 0;
          playSlider.slider('setValue', 0, true);
        } 
        // 終了
        else {
          clearInterval(getMobileLocations);
          playSlider.slider('setValue', 0, true);
          $('#slide-pause').click(); 
        }
      }
      }, 750);
});
$('#slide-pause').click(function() {
    // ループ処理を停止
    stopFlag = true;
    clearInterval(getMobileLocations);

    // playボタンを活性

    //$('#slide-play').attr('disabled', false);
    //toggleMobileUuidsCB(false);

    $(this).hide();
    $('#slide-play').show();

    // 各種ボタン非活性
    guardButtons(false);
});
/*
$('#slide-stop').click(function() {
    // ループ処理を停止
    stopFlag = true;
    clearInterval(getMobileLocations);

    // heatmapを初期化
    clearDiagram();
    // playボタンを活性
    $('#slide-play').attr('disabled', false);
    //toggleMobileUuidsCB(false);
    // sliderを初期化
    playSlider.slider('setValue', 0, true);
});
 */

// playボタンを活性
$('#slide-play').show();
$('#slide-pause').hide();
$('#heatmap_term_slide_ctrl').hide();

$('#term-date').datepicker({
    format: 'yyyy-mm-dd',
    language: 'ja',
    todayHighlight: true,
})

</script>

