<% content_for :page_title do %>
  <%= image_tag 'rootmap_real_b.png' %>
<% end %>

<% content_for :cond do %>
  <div class="col-md-4">
    <%= render 'mobile_uuids' %>
  </div>
  <div class="col-md-4">
    <!--2-->
  </div>
  <div class="col-md-4">
    <!--3-->
  </div>
<% end %>

<% content_for :slide_ctrl do %>
  <%= render 'slide_buttons' %>
<% end %>


<script>

// ビーコン表示 >>
<%= render 'beacon_js' %>
// << ビーコン表示

// モバイル端末ボタン制御 >>
<%= render 'mobile_uuids_js' %>
// << モバイル端末ボタン制御

// ズームボタン制御 >>
<%= render 'zoom_js' %>
// << ズームボタン制御

var lineFunction = d3.svg.line()
  .x(function(d) { return d.x; })
  .y(function(d) { return d.y; })
//  .interpolate("linear"); // 直線
  .interpolate("cardinal"); // 曲線

function clearDiagram() {
//  setResult([]);
};

function setResult(json) {
//  console.log('setResult start');
//  console.log('data count = ' + json.length);

  var datas1 = [];
  var datas2 = [];
  var datas3 = [];
  var datas4 = [];

  for (var i = 0; i < json.length; i++) {
    var data = json[i];
    var m_uuid = data['mobile_uuid'];
    if (m_uuid === '<%= ApplicationHelper::MOBILE_UUID_1 %>') {
      datas1.push(data);
    }
    else if (m_uuid === '<%= ApplicationHelper::MOBILE_UUID_2 %>') {
      datas2.push(data);
    }
    else if (m_uuid === '<%= ApplicationHelper::MOBILE_UUID_3 %>') {
      datas3.push(data);
    }
    else if (m_uuid === '<%= ApplicationHelper::MOBILE_UUID_4 %>') {
      datas4.push(data);
    }  
  } 

  var plot = function(datas, color) {
    if (datas.length == 0) return;

    var circles = diagram.selectAll('circle').data(datas);
      circles.enter()
      .append('circle');
    circles
      .attr('fill', color)
      .attr('cx', lineFunction.x())
      .attr('cy', lineFunction.y())
      .attr('r', 3);

    diagram.append('path')
      .attr('d', lineFunction(datas))
      .attr('stroke', color)
      .attr('stroke-width', '1')
      .attr('fill', 'transparent');
  };

  // 初期化
  diagram.selectAll('circle').remove();
  diagram.selectAll('path').remove();

  plot(datas1, '#1B9FDE');
  plot(datas2, '#EE8DB7');
  plot(datas3, '#FCCA07');
  plot(datas4, '#8e8e8e'); //#515151

//  console.log('setResult end');
};

// realtime表示のコア処理 >>
<%= render 'realtime_core_js' %>
// << realtime表示のコア処理

</script>
