<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Adbeacon" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <header class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo.jpg' %>
        </a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= current_page?(controller: 'ava_beacon', action: 'tracking_realtime') ? 'active' : '' %>" >
            <%= link_to "ルートマップ(リアルタイム)", "/ava_beacon/tracking_realtime/", "no-turbolink" => true %>
            </li>
            <li class="<%= current_page?(controller: 'ava_beacon', action: 'heatmap_realtime') ? 'active' : '' %>" >
            <%= link_to "ヒートマップ(リアルタイム)", "/ava_beacon/heatmap_realtime/", "no-turbolink" => true  %>
            </li>
            <li class="<%= current_page?(controller: 'ava_beacon', action: 'heatmap_term') ? 'active' : '' %>" >
            <%= link_to "ヒートマップ(データ)", "/ava_beacon/heatmap_term/", "no-turbolink" => true  %>
            </li>
          </ul>
<!--
          <ul class="nav navbar-nav navbar-right">
            <li>
            <a class="navbar-brand" href="/">
              <%= image_tag 'AVASYScolor.png' %>
            </a>
            </li>
          </ul>
-->
        </div>
      </div>
    </header>

    <main>

    <div class="container">
      <div class="row">
          <%= bootstrap_flash %>

<!--
          <div class="col-md-1">
left
          </div>
-->
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">

<div class="row">
<div class="col-sm-8">
  <h1 class="main-title">
<%= yield :page_title %>
  </h1>
</div>
<div class="col-sm-4">
<%= render 'ava_beacon/zoom_buttons' %>
</div>
</div>

<div class="row">
  <div id="cond-guard" class="guard">
  </div>

  <%= yield :cond %>

</div>

<div id="diagram-area" class="panel panel-default">
  <div class="panel-body">
    <div id="diagram-wrapper">
    <svg id="diagram">
    </svg>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
    <form role="form" class="form-inline">

      <%= yield :slide_ctrl %>

    </form>
    </li>
    <!--<li class="list-group-item">予備ゾーン</li>-->
  </ul>
</div>

                <%= yield %>

              </div>
              <div class="col-md-1">
              </div>
            </div> 
          </div>
<!--
          <div class="col-md-1">
right
          </div>
-->

      </div><!--/row-->
    </div> <!-- /container -->
    </main>

    <footer class="footer">
      <div class="container">
        <p>Copyright &copy; 2014 AVASYS Corp. All rights reserved.</p>
      </div><!-- /.container -->
    </footer>

  </body>
</html>
